@import '../../variables.scss';
@import '../../mixins.scss';

.edit{
    border: solid 1px $color-orange;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    input {
        min-width: 8rem;
        color: $color-green;
    }
    *{
        text-shadow: none;
        margin: 0.25rem;
        font-size: 0.75rem;
        align-self: center;
    }
    h3 {
        text-align: center;
    }
    label {
        color: $color-light-green;
    }
    &__form {
        display: flex;
        justify-content: space-evenly;
        margin: 0;
    }
    &__btn {
        margin-block-end: 1rem;
        color: $color-black;
    }
    &__btn:hover{
        @include btnHover()
    }
}
