@import '../../variables.scss';
@import '../../mixins.scss';

.modal{
    position: relative;
    background-color: black;
    border: solid 1px $color-orange;
    border-radius: 1rem;
    margin-block-start: 1rem;
    color: red;
    input {
        min-width: 8rem;
        color: $color-green;
    }
    *{
        text-shadow: none;
        margin: 0.25rem;
        font-size: 0.75rem;
    }
    h3 {
        text-align: center;
    }
    label {
        color: $color-light-green;
    }
    &__form {
        display: flex;
        justify-content: space-evenly;
    }
    button {
        color: $color-black;
    }
    &__btn:hover{
        @include btnHover()
    }
}
