@import '../../variables.scss';
@import '../../mixins.scss';
.item {
    
    text-align: center;
    max-width: 200px;
    list-style: none;
    transition: all 0.5s;
    p {
        margin: 0;
        color: $color-purple-white;
        text-transform: capitalize;
        font-size: 1rem;
    }
    img {
        width: 70%;
        height: auto;
    }

    .btn {
        @include btnTheme();
    }
    .btn:hover{
        @include btnHover()
    }
    
    &__features {
        margin: 0.5rem;
        p {
            font-size: 0.6rem;
            text-align: left;
            margin: 0.2rem;
            span {
                font-weight: 800;
            }
        }
    }
    &__btn-group {
        display: flex;
        justify-content: space-between;
        opacity: 0;
        transition: all 0.5s;
    }

    &__delete {
        position: absolute;
        translate: 7.5rem 0rem;
        opacity: 0;
        transition: all 0.5s;
    }

    &:hover {
        border: solid 1px $color-orange;
        border-radius: 1rem;
        *{
            opacity: 1;
        }
    }
}
